body {
    font-size: large;
    background-color: antiquewhite;
}

.headline{
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 5%;
}

.zip, .feel {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.submit {
    text-align: center;
}

input {
    font-size: medium;
    border-radius: 5px;
    padding-left: 10px;
}

#generate {
    font-size: medium;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: aqua;
    margin-bottom: 2%;
    border-radius: 10px;
}
#generate:hover {
    cursor: pointer;
}

.holder {
    background-color: rgb(4, 77, 77);
    color: beige;
    text-align: center;
}
.title {
    font-size: larger;
    font-weight: 600;
    margin-bottom: 2%;
}

.data {
    margin-bottom: 0.5%;
    padding-bottom: 2%;
}